@media (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 20px;
    text-align: center;

    .box-grid {
    flex-direction: column;
    align-items: center;
  }

  section {
    padding: 60px 30px;
  }

  form {
    width: 100%;
  }
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  .intro {
    padding: 80px 20px;
  }

  .mv-container,
  .feature-grid,
  .team-grid,
  .testimonials-grid {
    flex-direction: column;
    align-items: center;
  }
}